* {
    font-family: 'Crete Round', serif;
    color: white;
}

//import
@import "galeria" ;


body {
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .bg-mio {
        background-image: radial-gradient(red , black);
        
    }
}

// extend
h2 {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.ubicacion {
    @extend h2; 
    padding: 40px;
}
section {
width: 700px;
}

p{
    margin: 10px;
    padding: 10px;
}

.color {
    background-color: black;
}
  

.formulario {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    background-image: radial-gradient(red , black);
    .controles {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        margin-bottom: 15px;
        border: 1px solid;
        font-size: 18px;
        
    }
}
.boton {
    width: 100%;
    border: none;
    padding: 5px;
    color: red;
    margin: 16px 0;
 }

